.form-wrapper{
  width:100vw;
  height: 1730px;
  position: relative;
  // background-image: url("/images/header.png");
}

.form{
  position: absolute;
  width: 100vw;
  height: 100%;
  top: -10em;
  @media screen and (max-width: 730px){
    top: -7em;
  }
  @media screen and (max-width: 670px){
    top: -3em;
  }
}

.intro{
  font-family: 'PT Sans', sans-serif;
  font-size: 1.25em;
  position: relative;
  z-index: 10;
  padding-top: 4em;
  // background-color: #333333;
  padding-bottom: 2em;
  text-align: center;
  background-image: url("/images/header.png");
  background-attachment: bottom;
  background-repeat: repeat-x;
  & h1{
    font-weight: 700;
    color: #FFB74D;
  }
  & .intro-text-box{

    padding: 1em;
      border-radius: 0.4em;
      width: 90%;
      max-width: 800px;
      margin: auto;
      margin-bottom: 0.5em;
    & p{
      text-align: center;
      color: white;
      
      & span{
        color: #FFB74D;
      }
    }
  }
  @media screen and (max-width: 700px){
      padding-top: 0.5em;
      & p{
        font-size: 0.75em;
        & span{
          font-size: 1em;
        }
      }
  }
}

.home{
  background-color: #333333;
}

.footer-line{
  text-align: center;
  color: white;
  position: relative;
  bottom: 7em;
}